
:root{
  --pontano-font: "Pontano Sans", sans-serif;
  --league-font: "League Gothic", sans-serif;
  --staatliches-font: "Staatliches", sans-serif;
  --pl-color: #fff;
  --pd-color: #111;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--pontano-font);
  background-color: var(--pl-color);
}
body::-webkit-scrollbar{
  display: none;
}